#!/bin/bash

SOURCE='{{ puppetlabs_mirror_source }}'
DESTINATION='{{ mirror_doc_root }}/puppetlabs/'

LOCKFILE=/tmp/$(basename ${DESTINATION}).lock

if [[ ! -e $LOCKFILE ]]; then
    touch $LOCKFILE
    rsync -avH               \
          --human-readable   \
          --progress         \
          --safe-links       \
          --delete           \
          --delete-after     \
          --delay-updates    \
          --exclude '.~tmp~' \
          --stats            \
          --itemize-changes  \
          --timeout=10800    \
          ${SOURCE} ${DESTINATION}

    if [[ $? -eq 0 ]]; then
        echo `date +%s` > {{ mirror_timestamp_dir }}/puppetlabs
    fi

    rm $LOCKFILE
else
    cat <<EOF 1>&2
ERROR: Another rsync is already running and has the lock file
$LOCKFILE.
EOF

fi
